// Global styling for this template

body {
  @include body-font;
  padding-top: 54px;
  color: $gray-700;
}
@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: $sidebar-base-width;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading-font;
  font-weight: 700;
  text-transform: uppercase;
  color: $gray-900;
}

h1 {
  font-size: 6rem;
  line-height: 5.5rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2rem;
}

p.lead {
  font-size: 1.15rem;
  font-weight: 400;
}

.subheading {
  text-transform: uppercase;
  font-weight: 500;
  @include heading-font;
  font-size: 1.5rem;
}

.social-icons {
  a {
    display: inline-block;
    height: 3.5rem;
    width: 3.5rem;
    background-color: $gray-800;
    color: $white !important;
    border-radius: 100%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 3.5rem;
    margin-right: 1rem;
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      background-color: $primary;
    }
  }
}

.dev-icons {
  font-size: 3rem;
  .list-inline-item i {
    &:hover {
      color: $primary;
    }
  }
}

i{
  &.fab{
    img{
      width:35px;
    }
  }
}

footer{
  background: darken($primary,42%);
  width:100%;
  text-align: center;
  padding-top:20px;
  padding-bottom:10px;
  color: $gray-500;

  i{
    font-size:30px;
    margin-right: 10px;
    vertical-align: middle;

  }

  a{
    color: lighten($primary, 15%);
    &:visited{
      color: lighten($primary, 8%);
    }
    &:hover{
      color: lighten($primary, 8%);
    }
  }

  div{
    margin-top:10px;
  }
}
